@import '../scss/variables';

.NavBar {
  color: #000;
  max-width: 1400px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
  font-family: $navFont;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid rgba($color: #000, $alpha: 0.5);

  a {
    text-decoration: none;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #000;
    margin-left: 0.2rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.1rem;
      width: 0;
      height: 0.1rem;
      background-color: #000;
      transition: width 0.3s linear;
    }

    &:hover::before {
      width: 100%;
    }

    &.active::before {
      width: 100%;
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 1rem;
    }
  }

  .logotype {
    font-family: $logotypeFont;

    font-size: 4rem;
  }
}
